[passlib]
#
# this is the PassLib default policy configuration, used by CryptContext
# objects which don't have an explicit base policy specified.
# the goal of this default configuration is not to set any preferred schemes,
# but provide sane defaults (eg rounds) for all the supported algorithms.
#

#TODO: need to generate min rounds for specific cpu speed & verify time limitations

all.vary_rounds = 10%

bsdi_crypt.default_rounds = 30000
phpass.default_rounds = 10
bcrypt.default_rounds = 10
sha1_crypt.default_rounds = 30000
sun_md5_crypt.default_rounds = 30000
sha256_crypt.default_rounds = 30000
sha512_crypt.default_rounds = 30000
