Source: passlib
Maintainer: Eli Collins <elic@assurancetechnologies.com>
Section: python
Priority: optional
Build-Depends: python-central, python-setuptools (>= 0.6b3), python-all (>= 2.6.6), debhelper (>= 7)
XS-Python-Version: >= 2.5
Standards-Version: 3.9.1
Homepage: http://passlib.googlecode.com
Vcs-Hg: https://passlib.googlecode.com/hg
Vcs-Browser: http://code.google.com/p/passlib/source/list

Package: python-passlib
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Suggests: python-bcrypt, python-m2crypto
Description: comprehensive password hashing framework supporting over 20
 PassLib is a password hash library, which provides cross-platform
 implementations of over 20 password hashing algorithms;
 as well as a framework for managing and migrating existing password hashes.
 It's designed to be useful for any task from quickly verifying a hash
 found in /etc/shadow, to providing full-strength password hashing
 for multi-user applications.
